@model DabaTaseApp.Models.Group

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Видалити</title>
</head>
<body>

<h3>Ви впевнені, що хочете видалити?</h3>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-dismissible alert-danger">
            <strong>Помилка видалення!</strong> @TempData["ErrorMessage"]
        </div>
    }
<div>
    <h4>Групи</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheoryInstructor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheoryInstructor.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-link text-muted">Назад</a>
    </form>
</div>
</body>
</html>
